.index-header {
  margin: 0 0 40px 0;
}

.index-section {
  margin-bottom: 30px;
}

.index-subtitle {
  color: #777;
}

.index-h2 {
  margin-bottom: 15px;
}

p.index-music-reports-header {
  margin-bottom: 5px;
}
