.index-header {
  background: var(--color-dark);
  border-top: 4px solid var(--color-primary);
  margin: 0 0 20px 0;
  padding: 6px 20px 8px 20px;
  position: relative;
}

.index-section {
  margin-bottom: 30px;
}

.index-section:last-of-type {
  margin-bottom: 60px;
}

.index-subtitle {
  color: #777;
}

.index-h1 {
  color: white;
  margin: 0;
}

.index-h2 {
  margin-bottom: 15px;
}

p.index-music-reports-header {
  margin-bottom: 5px;
}
