.post {
  padding-bottom: 60px;
}

.post-links {
  background: var(--color-dark);
  border-top: 4px solid var(--color-primary);
  padding: 10px 20px;
  margin-bottom: 20px;
}

.post-links a {
  color: white;
  text-decoration: underline;
}

.post-links a:hover,
.post-links a:active {
  color: var(--color-light);
}

.post-meta {
  margin-bottom: 10px;
}

.post-category-link {
  color: #777;
  text-decoration: none;
  text-transform: capitalize;
}

.post-body h1 {
  margin-bottom: 25px;
}

.post-body h2 {
  margin-bottom: 20px;
}

.post-body h3 {
  margin: 25px 0 15px 0;
}

.post-body {
  background-color: white;
  padding: 0 20px;
}

.post-body img,
.post-body video {
  display: block;
  margin: 0 auto;
  max-height: 400px;
  max-width: 100%;
}

.post-body blockquote {
  --blockquote-text-color: #666;

  background-color: #f5f5f5;
  border-left: 2px solid #999;
  color: var(--blockquote-text-color);
  display: inline-block;
  margin: 0;
  padding: 10px 20px;
}

.post-body blockquote p {
  margin: 0;
}

.post-body blockquote a,
.post-body blockquote a:visited {
  color: var(--blockquote-text-color);
  text-decoration: underline;
}

.post-body code {
  background: var(--color-x-light);
  border-radius: 3px;
  color: var(--color-dark);
  padding: 4px 8px;
}
