@import 'index.css';
@import 'playlists.css';
@import 'post.css';
@import 'review.css';

html {
  --color-primary: #258fb8;
  --color-dark: #052f40;
  --color-light: #33c1f8;

  height: 100%;
}

body {
  background-color: white;
  color: #444;
  font-family: "IBM Plex Serif", serif;
  line-height: 1.5;
  margin: 0;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #052F40;
  font-family: "IBM Plex Serif", sans-serif;
  font-style: italic;
  font-weight: 700;
  margin: 0;
}

p {
  max-width: 575px;
}

a, a.visited {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  margin: 0 20px;
  padding-top: 10px;
}


/* Fonts */
/* ibm-plex-serif-regular - latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Serif'), local('IBMPlexSerif'),
       url('../fonts/ibm-plex-serif-v9-latin-regular.woff2') format('woff2');
}
/* ibm-plex-serif-italic - latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 400;
  src: local('IBM Plex Serif Italic'), local('IBMPlexSerif-Italic'),
       url('../fonts/ibm-plex-serif-v9-latin-italic.woff2') format('woff2');
}
/* ibm-plex-serif-700italic - latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 700;
  src: local('IBM Plex Serif Bold Italic'), local('IBMPlexSerif-BoldItalic'),
       url('../fonts/ibm-plex-serif-v9-latin-700italic.woff2') format('woff2');
}
/* ibm-plex-serif-700 - latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 700;
  src: local('IBM Plex Serif Bold'), local('IBMPlexSerif-Bold'),
       url('../fonts/ibm-plex-serif-v9-latin-700.woff2') format('woff2');
}
