//
// Projects page styles
// ------------------------------


// Projects list
// --------------------
.project {
	margin: 0 0 4rem 0;
}

.project-image {
	display: inline-block;
	vertical-align: middle;
	line-height: 0;
	box-shadow: 0px 0px 3px @color-gray;
}

.project-image img {
	height: 90px;
	width: 160px;
}

.project h3 {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 1rem;
}

@media screen and (min-width: @breakpoint-medium) {
	.project h3 {

	}
}
