//
// Post-specific styles
// ------------------------------


.post-footer {
	background-color: @color-gray-xx-light;
	border-radius: 3px;
	margin: 4rem 0 0 0;
	padding: 0.5em 0.75em;
}

.post img {
	// Images need to be capped in size
	max-height: 300px;

	// And go in the normal flow
	display: block;
	margin: 2em 0 1em 0;
}

.post-header {
	width: 100%;
	padding: 0.25rem 0.75rem;
	background-color: @color-gray-xx-light;
	font-family: @font-family-headings;
	text-align: center;
}
