//
// Post-specific styles
// ------------------------------


.post-footer {
	background-color: @color-gray-xx-light;
	border-radius: 3px;
	margin: 4rem 0 0 0;
	padding: 0.5em 0.75em;
}

.post img {
	// Images need to be capped in size
	max-height: 300px;

	// And go in the normal flow
	display: block;
	margin: 1em 0 1em 0;
}

.post-header {
	width: 100%;
	background-color: @color-gray-xx-light;
	font-family: @font-family-headings;
}

.post-header .container {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.post-header-left {
	float: left;
}

.post-header-right {
	float: right;
}

.post-header-site-name {
	color: @color-black;
	font-weight: @font-weight-bold;
	text-decoration: none;
}

.post-header li {
	display: inline-block;

	// Fix whitespace in HTML showing up in page
	font-size: 1rem;
}

.post-header li:not(:last-child):after {
	content: '\2022'; // bullet
	color: @color-gray;
	margin: 0 0.5rem;
}

// No bullets on post list
.post-header ul {
	padding: 0;
}

.post-header ul > li:before {
	content: "";
}
