//
// Colors
// ------------------------------


// Basic colors
// --------------------
@color-black:					#444;
@color-white:					#FFF;
@color-gray:					#999;
@color-gray-light:		#CCC;
@color-gray-xx-light:	#F1F1F1;


// Accent colors
// --------------------
@color-primary:				#800080;
@color-primary-dark:	#4D004D;

@color-accent:				#1657A0;
@color-accent-light:	#00B4CC;
