---
layout: base
---

<div class="index-header">
  <h1 class="index-h1">Mike Niebling</h1>
  <div class="index-subtitle">Site in development, that's for sure</div>
</div>

<div class="index-body">
  <div class="index-section">
    <h2 class="index-h2">Music</h2>

    <div><a href="/playlists">Playlists</a></div>
    <div><a href="/queue">Listening queue</a></div>

    <p class="index-music-reports-header">Music reports:</p>

    {%- for post in collections.musicReport | reverse -%}
      <div>
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </div>
    {%- endfor -%}
  </div>

  <div class="index-section">
    <h2 class="index-h2">Writing</h2>

    {%- for post in collections.design | reverse -%}
      <div>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </div>
    {%- endfor -%}
  </div>

  <div class="index-section">
    <h2 class="index-h2">The Quantified Life</h2>

    <div><a href="https://www.last.fm/user/thebling">Music (Last.fm)</a></div>
    <div><a href="https://www.goodreads.com/user/show/104157118-mike">Books (Goodreads)</a></div>
    <div><a href="https://letterboxd.com/thebling/">Movies (Letterboxd)</a></div>
    <div><a href="https://www.tvtime.com/en/user/28913711/profile">TV shows (TV Time)</a></div>
    <div><a href="https://www.songkick.com/users/thebling">Concerts (Songkick)</a></div>
  </div>

  <div class="index-section">
    <h2 class="index-h2">Projects</h2>

    <p>
      <a href="https://www.estherpomranky.com" target="_blank" rel="noopener">Esther's website:</a>
      I maintain Esther's art site to help her show off her paintings and link to her YouTube channel and Etsy store.
    </p>

    <p>
      <a href="https://walkability.netlify.app" target="_blank" rel="noopener">Walkability:</a>
      A simple project to help us in our house search. It helps visualize what places are near an address within various walking distances.
    </p>
  </div>
</div>
