.post-links {
  margin: 10px 0 20px 0;
}

.post-meta {
  margin-bottom: 10px;
}

.post-category-link {
  color: #777;
  text-decoration: none;
  text-transform: capitalize;
}

.post-h1 {
  margin-bottom: 25px;
}

.post-body {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 7px;
  margin-bottom: 25px;
  padding: 15px 20px;
}

.post-body img,
.post-body video {
  display: block;
  margin: 0 auto;
  max-height: 400px;
  max-width: 100%;
}

.post-body blockquote {
  --blockquote-text-color: #666;

  background-color: #f5f5f5;
  border-left: 2px solid #999;
  color: var(--blockquote-text-color);
  display: inline-block;
  margin: 14px 0;
  padding: 10px 20px;
}

.post-body blockquote p {
  margin: 0;
}

.post-body blockquote a,
.post-body blockquote a:visited {
  color: var(--blockquote-text-color);
  text-decoration: underline;
}
