<div class="post">

  <div class="post-links">
    <a href="/">Home</a>
  </div>

  <div class="post-meta">
    <% if (page.categories && page.categories.length) { %>
      <div class="post-category">
        <%- list_categories(page.categories, {
          show_count: false,
          class: 'post-category',
          style: 'none',
          separator: '►'
        }) %>
      </div>
    <% } %>
  </div>

  <div class="post-body">
    <h1 class="post-h1"><%- page.title %></h1>

    <%- page.content %>
  </div>
</div>
