---
layout: default
---

<div class="post-header">
	<div class="container clear-me">

		<div class="post-header-left">
			<a class="post-header-site-name" href="../">Mike Niebling</a>
		</div>

		<div class="post-header-right">
			<ul>
				<li><a href="{{ site.baseurl }}/">Posts</a></li>
				<li><a href="{{ site.baseurl }}/Projects">Projects</a></li>
				<li><a href="{{ site.baseurl }}/About">About</a></li>
			</ul>
		</div>

	</div>
</div>

<div class="container">
	<article>
		<h1>{{ page.title }}</h1>

		<div class="post">
			{{ content }}
		</div>

		<div class="post-footer">
			Written on {{ page.date | date: "%B %e, %Y" }} - <a href="{{site.baseurl}}/">Back to Main</a>
		</div>
	</article>
</div>
